
/*this set of rules fixes IE 6 problems */
body { text-align:center; /* for IE to center container*/ }

#left { margin-left: -985px; }

#logo { margin-left:0px; /*fixes IE left-double margin */ }

.premium-listing-link {
	height: 1%;
}

.block h2 {
	height: 1%;
}

#primary li ul li {
	margin:-3px 0pt 0pt !important;
}

ul.nice-menu ul {
	top: 41px;
}




