body {
        margin: 0;
        padding: 0 10px;
        color: #333333;
        background:#FFFFFF;
        font: 73% Verdana, Arial, Geneva, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0.5em;
        font-family:Georgia, "Times New Roman", Times, serif;
}

h1 { font-size: 1.3em; }

h2 { font-size: 1.0em;}

h3, h4, h5, h6 { font-size: 1.1em; }

p {
	margin-top: 1em;
	margin-bottom:0;
	padding:0.3em;

font-family:Verdana,sans-serif;
font-size:10pt;
font-weight:normal;
}

a {
        text-decoration: none;
        font-weight: bold;
}

a:link { color:#5f7e00; }

a:visited { color: #5f7e00; }

a:hover {
        color:#D17921;
        text-decoration: underline;
}

fieldset { border: 1px solid #ccc; }

pre {
        background-color: #eee;
        padding: 0.75em 1.5em;
        font-size: 12px;
        border: 1px solid #ddd;
}

table { /* make <td> sizes relative to body size! */ font-size: 1em; }

.form-item label {
        font-size: 1em;
        color: #222;
}

.item-list .title {
        font-size: 1em;
        color: #222;
}

.links {
        margin-bottom: 0em;
        font-size:.95em;
}

.comment .links { margin-bottom: 0em; }

/*
** Page layout blocks / IDs
*/
#header, #content { width: 100%; }

#header {
        position:relative;
        overflow:hidden;
		margin-bottom: 0.7em;
		height: 62px;
}

#logo {
        float:left;
}

#logo h1{
        font-size: 2.7em;
        margin-right: 1.2em;
        margin-left: 1em;
}

#logo img {
        padding: 0;
        border: 0;
        margin:0;
}

#sub_header {
        height:38px;
        background:url(img/primary_background.png) left top no-repeat;
}

#sub_header .content {
}

#sub_header .block a { color:#fff; }

#sub_header .block {
        color:#fff;
        margin:0 350px 0 30px;
        padding:5px 0 0 0;
}

#sub_header .block-title {
        float:left;
        width:150px;
        text-align:right;
        margin:0 20px 30px 0;
        color:#99CA30;
        padding:0;
}

#secondary {
        padding:0;
        margin:0;
        position:absolute;
        right:20px;
        top:10px;
        font-size:12px;
        color:#0053A0;
}

#secondary li { padding:0 6px 0 8px; }

#secondary a {
        padding: 7px 0;
        margin:0;
        font-size: 11px;
        font-weight:normal;
        color:#344A04;
}

#secondary a:hover, #secondary a.active {
        text-decoration:underline;
        color:#344A04;
}

#secondary ul.links li { border-left: 1px solid #344A04; }

ul.links li { border-left: 1px solid #ccc; }

ul.links li a { margin-left:2px; }

ul.links li.first { border-left: none !important; }

ul.links li.last { padding-right:0 !important; }

#primary {
}

#primary li {
        border:none !important;
		float: none;
 		line-height: 28px;
		height: 38px;
		padding: 0 2em 0 2em;
}

#primary li ul li {
		height: auto;
}

#primary li ul li ul li {
		height: auto;
}

#primary a:hover, #primary a.active {
/*        background:#2E2E2E url(img/tab.png) top left repeat-x;*/
        text-decoration:none;
}

ul.links li.first {
        border: none;
        padding-left:0 !important;
}

ul.links li.last { padding-right:0 !important; }

#search {
	padding: 18px 0 0 15px;
}

#search label {
        font-family:Georgia, "Times New Roman", Times, serif;
        font-size:1.3em;
        display:none;
}

#search .form-text {
        height: 17px;
        width: 135px;
		border-width: 1px;
		border-style: groove;
}

#mission {
        background-color: #369;
        padding: 1.5em 2em;
        color: #fff;
}

#mission a, #mission a:visited {
        color: #9cf;
        font-weight: bold;
}

.site-name {

        margin: 0;
        padding: 20px 0 5px 0px;
        font-size: 3.3em;
        font-family:Impact, "Arial Black", Arial, Helvetica, sans-serif;
}
.site-name a {
padding:0 0 0 20px;
}

.site-name a:link, .site-name a:visited { color: #fff; }

.site-name a:hover { text-decoration: none; }

.site-slogan {
        font-size: 1em;
        color: #000;
        display: block;
        margin: 0;
        font-weight: bold;
        float:left;
        padding:0 0 20px 23px;
        
}

#main {
        /* padding in px not ex because IE messes up 100% width tables otherwise */
  padding: 0 15px;
        text-align:left;
}

#mission, .node .content, .comment .content { line-height: 1.4; }

#help {
        font-size: 0.9em;
        margin-bottom: 1em;
}

.breadcrumb {
        margin-bottom: .5em;
        font-size:.9em;
        color:#6a6a6a;
}

.breadcrumb a { color:#6a6a6a; }

.messages {
        background-color: #eee;
        border: 1px solid #ccc;
        padding: 0.3em;
        margin-bottom: 1em;
}

.error { border-color: red; }

#footer {
}

#footer a { 
}

#footer .links { 
}

#author_link {
        text-align:right;
        padding:.5em 0 0 0;
}

/*
** Common declarations for child classes of node, comment, block, box, etc.
** If you want any of them styled differently for a specific parent, add
** additional rules /with only the differing properties!/ to .parent .class.
** See .comment .title for an example.
*/
.title, .title a {
        font-weight: bold;
        font-size: 1.0em;
/*		color: #ff2c00; */
        margin: 0 auto 0 auto;  /* decrease default margins for h<x>.title */
}

h2.title a {
         font-size: 1.1em;
		
}


.taxonomy ul li a {
	color: #668901;
	text-decoration: underline;
}

.taxonomy ul li a:hover {
	color: #AA8901;
}


.feed-item-title a { color:#000; }

.block { 
	margin-bottom:1em;
	border:1px solid #CBCAC8;
}

.block h2 {
	padding:0.4em 0.75em;
	margin: 0 0 0.2em 0;
/*	background-color: #9bc51d; */
	background-color:#F0EDE6;
}

.block .content {
	padding-left: 1em;
}

#center .date {
        font-size:.8em;
        color:#6a6a6a;
}

.submitted {
        color: #999;
        font-size: 0.8em;
		display: block;
		float:right;
}

.links li.first { padding-left:0; }

.links a {
        font-weight: normal;
        color:#668901;
}

.block, .box { 
	padding: 0; 
}

.block ul {
	padding: 0 0 0.25em 0;
}

.block .title { 
	margin-bottom: .25em; 
}

.box .title { font-size: 1.1em; }

.node .title { 
	font-size: 1.1em; 
}

.node { margin: .5em 0 1em 0; }

#center .node { padding-bottom:0; }

.sticky {
        padding-bottom:1em;
        border-bottom:1px dotted #E0E4E7;
}

.node .content, .comment .content { margin: .5em 0 .5em 0; }

.node .taxonomy {
        color: #999;
        font-size: 0.8em;
}

.node .picture {
        border: 1px solid #ddd;
        float: right;
        margin: 0.5em;
}

.comment {
        border: 1px solid #abc;
        padding: .5em;
        margin-bottom: 1em;
}

.comment .title a {
        font-size: 1.1em;
        font-weight: normal;
}

.comment .new {
        text-align: right;
        font-weight: bold;
        font-size: 0.8em;
        float: right;
        color: red;
}

.comment .picture {
        border: 1px solid #abc;
        float: right;
        margin: 0.5em;
}

/*
** Module specific styles
*/
#aggregator .feed-source {
        background-color: #eee;
        border: 1px solid #ccc;
        padding: 1em;
        margin: 1em 0 1em 0;
}

#aggregator .news-item .categories, #aggregator .source, #aggregator .age {
        color: #999;
        font-style: italic;
        font-size: 0.9em;
}

#aggregator .title {
        margin-bottom: 0.5em;
        font-size: 1em;
}

#aggregator h3 { margin-top: 1em; }

#forum table { width: 100%; }

#forum td { padding: 0.5em 0.5em 0.5em 0.5em; }

#forum td.forum, #forum td.posts { background-color: #eee; }

#forum td.topics, #forum td.last-reply { background-color: #ddd; }

#forum td.container { background-color: #ccc; }

#forum td.container a { color: #555; }

#forum td.statistics, #forum td.settings, #forum td.pager {
        height: 1.5em;
        border: 1px solid #bbb;
}

#forum td .name { color: #96c; }

#forum td .links {
        padding-top: 0.7em;
        font-size: 0.9em;
}

#profile .profile {
        clear: both;
        border: 1px solid #abc;
        padding: .5em;
        margin: 1em 0em 1em 0em;
}

#profile .profile .name { padding-bottom: 0.5em; }

.block-forum h3 { margin-bottom: .5em; }

.calendar a { text-decoration: none; }

.calendar td, .calendar th {
        padding: 0.4em 0;
        border-color: #888;
}

.calendar .day-today { background-color: #69c; }

.calendar .day-today a { color: #fff; }

.calendar .day-selected {
        background-color: #369;
        color: #fff;
}

.calendar .header-week { background-color: #ccc; }

.calendar .day-blank { background-color: #ccc; }

.calendar .row-week td a:hover {
        background-color: #fff;
        color: #000;
}

/*----------block stuf ----------*/

#left .block-title {
}

/* ------------------- block-user-0 ----------------- */
#block-user-0 .item-list {
}

#block-user-0 .item-list ul li { 
}

.user_profile label { font-weight:bold; }

.user_profile .fields { margin:1.4em 0; }

/* sidebar menu
--------------------------------------------------*/

#right li.collapsed, #right li.leaf {
        padding:0;
        line-height:1.8em;
}

#right .collapsed a, #right .leaf a {
        display:block;
        padding:4px;
        height:1%; /* IE WIN */
        text-decoration:none;
        border-bottom:1px dotted #E0E4E7;
        color:#000;
}

*html #right .collapsed a, #right .leaf a { border-bottom:1px solid; }

#right .collapsed a:hover, #right .leaf a:hover {
        background-color:#98ABB8;
        color:#fff;
        text-decoration:none;
}

/* -------------- table view ------------------------- */
table {
        width:100%;
        margin-bottom:15px;
}

thead th {
        background:#fff;
        border:1px solid #ccc;
        padding:11px 5px;
}

tr.odd td, tr.even td {
        padding:8px 5px;
        border:1px solid #ccc;
}

tr.odd td { background:#fff; }

tr.even td { background:#fff; }

tr.odd td.active { background:#fff; }

tr.even td.active { background:#fff; }

/* tr.odd td a, tr.odd td { color:#6A8C22; }

tr.even td a, tr.even td, thead th a { color:#344A04 !important; } */

.pager { margin-bottom:15px; }

/* sidebar menu
--------------------------------------------------*/

#left li.collapsed, #left li.leaf {
        padding:0;
        line-height:1.8em;
}

#left .collapsed a, #left .leaf a {
        display:block;
/*        padding:4px; */
        height:1%; /* IE WIN */
        text-decoration:none;
        border-bottom:1px solid #E0E4E7;
}

#left .collapsed a:hover, #left .leaf a:hover {
        background-color:#9ACA31;
        color:#fff;
        text-decoration:none;
}

/* -------------------- laout. Holy Grail layout technique is used. Do not forget to fix IE ------------------- */

#wrapper {
        width:985px;
        padding: 0.5em 1.5em 1.5em;
        margin: 0 auto;
        text-align:left;
}

#container { 
	margin-top: 0pt; 
	margin-bottom: 15px;
}

.container { padding:0; }

.container-left { padding-left: 200px;   /* LC fullwidth */ }

.container-right { padding-right: 200px;  /* RC fullwidth  */ }

#container .column {
        position: relative;
        float: left;
}

#center {
        padding:0;
        width: 100%;
        overflow:hidden;
}

#left {
        width: 200px;                           /* LC width */
        padding: 0 0 0 0;            /* LC padding */
        margin-left: -100%;
        overflow:hidden;
}

#container > #left { /* hide from f***king IE6! */ right: 200px;          /* LC fullwidth + CC padding */ }

#right {
        width: 200px;                           /* RC width */
        margin-right: -200px;           /* RC fullwidth + CC padding + 1 px for border*/
        overflow:hidden; /* this thing helps to get rid of layout breakdown if content is wider, than 100% */
}

#footer { 
	clear: both; 
	text-align: center;
	height: 34px;
	background:url(img/footer_background.png) left top repeat-x;
	padding-top: 8px;
}

ul.nice-menu ul {
	top: 39px;
}

ul.nice-menu-down ul {
}

ul.nice-menu li {
        font-size: 1em;
        font-weight:bold;
        color:#fff;
}

ul.nice-menu-down li.menuparent, #header-region ul.nice-menu-down li.menuparent {
	background: url(img/primary_splitter.png) top right no-repeat;
}


.advertisement {
	float: right;
	width: 470px;
	height: 62px;
	margin: 0;
	padding: 0;
	border: 0;
	overflow:hidden;
}

.advertisement p {
	margin: 0;
	padding: 0;
}

.search_box {
	float: left;
	width: 271px;
	height: 60px;
	background: url(img/search_background.png) top left no-repeat;
}

ul.nice-menu-down li.menuparent:hover, ul.nice-menu-down li.over, #header-region ul.nice-menu-down li.menuparent:hover, #header-region ul.nice-menu-down li.over {
	background: none;
}

#footer a {
	color: #5f7e00; 
	font-weight: bold;
	font-size: 1em;
}

.item-list ul li {
	list-style-image:url(img/bullet.png);
	list-style-position:outside;
	margin:0pt 0pt 0.25em 1.5em;
	padding:0pt;
}

.advertisement .block .content {
	padding:0;
	border:none;
}

#primary ul.nice-menu {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin-right:1px;
	width: 100%;
	text-align: center;
	padding-top: 3px;
}

#primary ul.nice-menu li {
	border:medium none !important;
/*	display:block;
	float:left;*/
	display: inline;
	margin:0pt -1px;
	background: url(img/primary_splitter.png) top left no-repeat;
	padding: 10px 2em 14px 2em;
}

#primary ul.nice-menu li a{
	font-size: 100%;
	font-weight: bold;
}

#primary ul.nice-menu li.menu-path-front {
	background: none;
}


#primary ul.nice-menu li ul li, ul.nice-menu li ul li ul li {
	display: block;
	list-style: none;
	padding: 0;
	background: #f1f1f1;
}

#primary li.last {
	margin-right:0pt;
}


ul.links li.first {
	border:medium none;
	padding-left:0pt !important;
}

ul.links li.last {
	padding-right:0pt !important;
}

#primary li ul {
	border:medium none !important;
	padding:0pt !important;
}

#primary li ul li ul {
	margin:0pt;
}

#primary li ul li, #primary li ul li a {
	background-image:none !important;
	line-height:1.2em !important;
	text-align:left;
}

#primary li ul li {
	margin:-1px 0pt 0pt !important;
	padding:0;
}

#primary li ul li a {
	background:transparent none repeat scroll 0% !important;
	border:1px solid #c0bfbf;
	display:block !important;
	float:none;
	font-size:0.9em;
	padding:5px 15px 5px 4px !important;
}

#primary ul li ul li {
	background: #f1f1f1;
}

#primary li ul li a:hover {
	background:#ff7a28 none repeat scroll 0% !important;
	color:#FFFFFF !important;
}
#primary li ul li.menuparent ul li a:hover, #primary li ul li.menuparent ul li.menuparent ul li a:hover {
	background:#ff7a28 none repeat scroll 0% !important;
	color:#FFFFFF !important;
}

#primary li ul li.menuparent a:hover {
	background:#ff7a28 url(img/arrow_sml_hover.gif) no-repeat scroll right center !important;
	color:#FFFFFF !important;
}

#primary li ul li.menuparent ul li.menuparent a:hover {
	background:#ff7a28 url(img/arrow_sml_hover.gif) no-repeat scroll right center !important;
	color:#FFFFFF !important;
}

#primary ul li ul li.menuparent {
	background:#f1f1f1 url(img/arrow_sml.gif) no-repeat scroll right center !important;
}

.necessary {
	color: #FF0000;
}

.red_fade_background {
	background: url(img/red_fade_background.png) left top repeat-x;
}

#block-block-4 {
	border-bottom: none;
	padding-bottom: 18px;
}

#block-block-4 h2 {
	line-height: 28px;
	height: 39px;
	background: url(img/header1_background.png) left top repeat-x;
	text-align: center;
}

#block-block-5 {
	margin-top: -1em;
	border-top: none;
}

#block-block-5 h2 {
	line-height: 20px;
	height: 35px;
	background:url(img/header2_background.png) left top repeat-x;
	color:#FFFFFF;
	text-align: center;
}

.premium-listing-link {
	margin: 10px 18px 0 0;
	border: 1px #5f7e01 solid;
	background: #9bca0f;
	font-weight: bold;
	color:#FFFFFF;
	padding: 4px;
	height: 1%;
}

ul.nice-menu a {
	display: inline;
	padding: 0;
	margin: 0;
}

ul.nice-menu-down .menuparent a {
	padding: 0;
}

#search #edit-submit {
	width: 55px;
	height: 21px;
	background:url(img/search_button.png);
	border:0;
	margin-left: 10px;
}
/*
#edit-submit {
  width:118px;
  height: 25px;
  padding: 25px 0 0;
  margin: 0;
  border: 0;
  background: transparent url(img/button.gif) no-repeat center top;
  overflow: hidden;
  cursor: pointer; // hand-shaped cursor 
  cursor: hand; // for IE 5.x 
}
form>#edit-submit { // For non-IE browsers
  height: 0px;
}
*/

.field-field-good-things-- {
	background: #EDFFED;
//	border-style:dashed;
	border-width: thin;
	padding:3px;
	padding-top:1px;
}

.field-field-bad-things {
	background: #FFF2F2;
//	border-style:dashed;
	border-width: thin;
	padding:3px;
	padding-top:1px;
}

.field-field-opinion {
	background: #F7F7F7;
//	border-style:dashed;
	border-width: thin;
	padding:3px;
	padding-top:1px;
}
.links a.forward_links{
background: url(img/email_go.png) no-repeat;
padding: 1px 0 0 20px;
}

li.print a {
background:transparent url(img/printer.png) no-repeat scroll left top;
padding:1px 0pt 1px 18px;
}
li.comment_add a {
background:transparent url(img/comments_add.png) no-repeat scroll left top;
padding:1px 0pt 1px 18px;
}

#floater_left, #floater_right {
width:49.5%;
overflow:hidden;
}

#floater_left {
float:left;
}
#floater_right {
float:right;
}
/* This is Adsense Floating 
#block-adsense-0, #block-relatedlinks-3 {
width:49.5%;
//overflow:hidden;
}

#block-adsense-0 {
float:left;
height:275px;
}
#block-relatedlinks-3 {
float:right;
height:275px;
}
*/

#languages, #languages ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
position:absolute;
}
#languages a {
background-color:#ECEDEF;
color:#5E5E44;
display:block;
font-size:1.2em;
font-weight:bold;
height:20px;
line-height:21px;
padding-left:10px;
padding-top:3px;
position:relative;
text-decoration:none;
width:150px;
}
#languages img {
border:0pt none;
left:135px;
position:absolute;
text-decoration:none;
top:8px;
}
#languages li {
float:left;
width:10em;
}
#languages li ul {
left:-999em;
position:absolute;
width:10em;
}
#languages li:hover ul {
left:auto;
}
#languages li:hover ul, #languages li.sfhover ul {
left:auto;
}

.left_header {
background:#FFFFDC none repeat scroll 0%;
border-style:dashed;
border-width:thin;
float:left;
padding:1px 3px 3px;
width:48%;
}

.right_header {
background:#FFFFDC none repeat scroll 0%;
border-style:dashed;
border-width:thin;
float:right;
padding:1px 3px 3px;
width:48%;
}

.tabs-block {
clear:left;
display:block;
float:left;
margin:0pt 0pt 10px;
padding:0pt;
width:300px;
}
.tabbed {
background:transparent none repeat scroll 0%;
border:medium none;
margin:0pt;
overflow:hidden;
padding:0pt;
width:100%;
}
.tabbed ul.tabs {
background:transparent none repeat scroll 0%;
display:block;
left:0pt;
list-style-type:none;
margin:0pt;
overflow:hidden;
padding:0pt;
position:relative;
top:0pt;
width:100%;
z-index:999;
}
.tabbed ul.tabs li {
display:inline;
float:left;
margin:0pt 0.3em 0pt 0pt;
padding:0pt;
}
.tabbed ul.tabs li a {
background:#EEEEEE none repeat scroll 0%;
border:1px solid #CCCCCC;
display:block;
font-weight:bold;
margin:0pt;
padding:5px 0.8em;
}
.tabs-block ul.tabs li a {
padding:5px 0.7em;
}
.tabbed ul.tabs li a:hover {
background:#F7F7F7 none repeat scroll 0%;
text-decoration:none;
}
.tabbed ul.tabs li a.tab-current {
background:#FFFFFF none repeat scroll 0%;
border-bottom:1px solid #FFFFFF;
}
.tabs-block .tabbed div, #home .tabbed .c {
background:#FFFFFF none repeat scroll 0%;
border:1px solid #CCCCCC;
clear:left;
display:none;
left:0pt;
margin:0pt;
overflow:hidden;
padding:5px 0pt;
position:relative;
top:-1px;
width:100%;
z-index:0;
}

.poll .title {font-size:13px;}

/* views listing */
.view-health-article-directory .item-list li, .view-health-products-categories-block .item-list li, .view-summary-health-directory .item-list li{width:40%; float:left;}
#block-views-10_health_articles_block, #block-views-health_products, #block-views-directory_5_latest_Block {clear:both; }
#block-adsense-0 {width:250px; padding:0; float:left; border:none;}
#block-quicktabs-2 {float:right; width:285px;}
#block-views-related_articles {clear:both;}
.view-content-health-directory .field-type-image {float:left; margin:0 10px 5px 0;}
.title {clear:both; font-size:1.4em;}

#block-views-10_health_articles_block li {clear:both;}

.node .field-field-image {
float:left;
margin:0pt 10px 3px 0pt;
}

.view-front-health-product .field-field-image {
float:left;
left:0pt;
position:absolute;
top:5px;
}


.view-item-front-health-product .field-field-image {
float:left;
left:0pt;
position:absolute;
top:5px;
}

.view-data-node-data-field-image-field-image-fid {
float:left;
margin:0pt 10px 3px 0pt;
}

.view-content-directory-5-latest-Block .field-field-site-logo {
float:left;
margin:0pt 10px 3px 0pt;
}

.view-data-users-uid .picture {
float:left;
margin:0pt 10px 3px 0pt;
}

.field-type-image .field-field-image-0 {
float:left;
margin-top: 250px;
/*margin:0pt 10px 3px 0pt;*/
}
#block-views-front_health_product {min-height:110px;}
.feed-icon {display:block; clear:both;}
#block-block-29 .content {text-align:center;}
#block-block-29 {margin-bottom:0;}
#block-quicktabs-4 {border:none;}
/*
.view-data-node-data-field-article-summary-field-article-summary-value .p {
margin:0pt 10px 3px 0pt;
height:12px;
}

view-content-10-health-articles-block .li {
height::20px;
}
*/

/*
.view-field .view-data-node-data-field-product-description-field-product-description-value {
float:right;
}
*/

/*
.view-content-front-health-product .field-field-image {
left:0pt;
position:absolute;
top:5px;
}
*/