
.field-field-article-summary {
	background: #FFFFDC;
	border-style:dashed;
	border-width: thin;
	padding:3px;
	padding-top:1px;
	float:right;
	width:288px;
}

.field-field-author-box {
	background: #FFFFDC;
	border-style:dashed;
	border-width: thin;
	padding:3px;
	padding-top:1px;
//	float:right;
//	width:280px;
}

#teaser {
//	background: #FFFFDC;
//	border-style:dashed;
//	border-width: thin;
	padding:3px;
	padding-top:1px;
//	float:right;
//	width:280px;
}